# CODEOWNERS
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# Each line is a file pattern followed by one or more owners.
# Owners are automatically requested for review when someone opens a pull
# request that modifies the matching files.

# Default: all files require review from the NYU A11y team
*       @nyu-a11y/maintainers
